.introductionSection {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 10px;
}

.banner {
  height: 1000px;
  width: 100%;
  background-color: rgb(68, 152, 231);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/banner.png);
  border-radius: 15px;
}