.introductionSection {
  width: 100%;
  aspect-ratio: 16 / 8; 
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.banner {
  width: 100%;
  aspect-ratio: 16 / 8; 
  background-color: rgb(68, 152, 231);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/banner.png);
  border-radius: 15px;
}