.weatherImg {
  background-image: url("../images/weather.webp");
}

.ottoDecksImg {
  background-image: url("../images/ottoDecks.webp");
}

.snookerImg {
  background-image: url("../images/snooker.webp");
}

.knightImg {
  background-image: url("../images/knight.webp");
}

.merkelImg {
  background-image: url("../images/merkel.webp");
}

.penguinImg {
  background-image: url("../images/penguin.webp");
}

.projectSection {
  display: flex;
  flex-direction: column;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  grid-auto-rows: auto;
  row-gap: 100px;
  column-gap: 20px;
}

.gridCellContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: transform 0.5s;
}

.gridText > p {
  color: var(--sub-font-color);
}

.gridImgContainer {
  width: 100%;
  aspect-ratio: 16 / 8; 

  border-radius: 10px;
  transition: background-size 0.3s ease;
  overflow: hidden;
}

.gridImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: transform 0.2s;
}

/* ANIMATION */
.leftGrid {
  transform: translateX(-150%);
}

.rightGrid {
  transform: translateX(150%);
}

.slide-in-left {
  transform: translateX(0);
}

.slide-in-right {
  transform: translateX(0);
}

/* Media query for smaller screens (up to 768px) */
@media (max-width: 768px) {
  .projectsGrid {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

/* Media query for mobile devices (up to 480px) */
@media (max-width: 480px) {

}