.projectSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 100px 50px;
}

.projectsGrid > a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gridCell {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 20px;
}

.weatherCell {
  background-image: url("../images/weather.png");
}

.restaurantCell {
  background-image: url("../images/restaurant.png");
}

.snookerCell {
  background-image: url("../images/snooker.png");
}

.knightCell {
  background-image: url("../images/knight.png");
}
