.projectSection {
  display: flex;
  flex-direction: column;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
}

.gridCellContainer {
  width: 100%;
  height: 100%;
  padding-bottom: calc(0.2 * 100%);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  border-radius: 10px;

  transition: transform 0.5s;
}

.gridText > p {
  color: var(--sub-font-color);
}

.gridImgContainer {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  transition: background-size 0.3s ease;
  overflow: hidden;
}

.gridImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

/* ANIMATION */
.leftGrid {
  transform: translateX(-150%);
}

.rightGrid {
  transform: translateX(150%);
}

.slide-in-left {
  transform: translateX(0);
}

.slide-in-right {
  transform: translateX(0);
}

@media (max-width: 1200px) {
  .projectsGrid {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
  }
}

/* Media query for smaller screens (up to 768px) */
@media (max-width: 768px) {
  .projectsGrid {
    display: flex;
    flex-direction: column;
  }

  .gridCellContainer {
    height: 500px;
    padding-bottom: calc(0.1 * 100%);
  }
}

/* Media query for mobile devices (up to 480px) */
@media (max-width: 480px) {
  .gridCellContainer {
    height: 280px;
    padding-bottom: calc(0.05 * 100%);
    gap: 5px;
  }
}