::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--font-color-light);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(149, 149, 149);
}