.starting {
  width: 100vw;
  height: 2000px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.circle {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--grey);
  border-radius: 1000px;
}

.startingText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s; 
}

.startingText.hidden {
  visibility: hidden;
  opacity: 0;
}