.starting {
  width: 100vw;
  height: 2000px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 1000px;
  border: solid var(--font-color) 1px;
}

.startingText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: visible;
  opacity: 1;
  transition: opacity 100ms ease, visibility 100ms; 
}

.startingText.hidden {
  visibility: hidden;
  opacity: 0;
}