@font-face {
  font-family: lightFont;
  src: url("../fonts/Lato-Light.woff") format("truetype");
}

@font-face {
  font-family: regularFont;
  src: url("../fonts/Lato-Regular.woff") format("truetype"); 
}

@font-face {
  font-family: boldFont;
  src: url("../fonts/Lato-Bold.woff") format("truetype");
}

:root  {
  --sub-font-color: rgb(123, 123, 123);
  --dark-grey: rgb(40, 40, 40);
  --white: white;
  --grey: rgb(235, 235, 235);

  --font-color: var(--dark-grey);
  --background-color: var(--grey);
  --socials-color: var(--white);
}

:root[data-theme="dark"] {
  --font-color: var(--white);
  --background-color: var(--dark-grey);
  --socials-color: var(--sub-font-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: regularFont;
  letter-spacing: 2px;
  background-color: var(--background-color);
  color: var(--font-color);

  transition: background-color 0.3s ease, color 0.3s ease;
}

.content {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h6 {
  font-family: lightFont;
  font-size: 1rem;
}

h5 {
  font-family: lightFont;
  font-size: 2rem;
}

h4 {
  font-family: lightFont;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--font-color);
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.section {
  padding: 50px 120px 100px 120px;
}

.sectionText {
  text-align: center;
  padding: 200px 0 500px 0;
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  .section {
    padding: 50px 70px 100px 70px;
  }

  .sectionText {
    padding: 200px 0 400px 0;
  }
}

/* Media query for smaller screens (up to 768px) */
@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .section {
    padding: 50px 30px 100px 30px;
  }

  .sectionText {
    padding: 100px 0 200px 0;
  }
}

/* Media query for mobile devices (up to 480px) */
@media (max-width: 480px) {
  html {
    font-size: 6px;
  }

  .section {
    padding: 50px 10px 100px 10px;
  }
}
