@font-face {
  font-family: lightFont;
  src: url("../fonts/Lato-Light.woff") format("truetype");
}

@font-face {
  font-family: regularFont;
  src: url("../fonts/Lato-Regular.woff") format("truetype"); 
}

@font-face {
  font-family: boldFont;
  src: url("../fonts/Lato-Bold.woff") format("truetype");
}

@font-face {
  font-family: bigBoldFont; 
  src: url("../fonts/Oswald-Bold.ttf") format("truetype");
}

:root {
  --font-color: var(--dark-grey);
  --background-color: var(--grey);
  --art-color: rgb(12, 12, 13); 
  --font-size-base: 16px;

  --dark-grey: rgb(70, 70, 70);
  --grey: rgb(242, 242, 242);
  --green: rgb(57, 192, 63);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: regularFont;
  font-size: var(--font-size-base);
  letter-spacing: 3px;
  color: var(--font-color);
}

body {
  transition: background-color 0.5s ease;
  background-color: var(--background-color);
}

h6 {
  font-family: lightFont;
  font-size: 2rem;
}

h5 {
  font-family: lightFont;
  font-size: 3rem;
}

h4 {
  font-family: lightFont;
  font-size: 100px;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--font-color);
}

button {
  font-family: regularFont;
  font-size: 2rem;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  transition: background-color 0.5s ease;
}

.section {
  padding: 50px 150px 100px 150px;
}

.sectionHeader {
  display: flex;
  gap: 200px;
  margin-bottom: 30px;

  font-size: 12px;
}